<div class="container">
    <a href="<%=new_friend_path%>" type = "button" class="btn btn-info"> Add friend </a>
<div class="list-group">

  <a class="list-group-item list-group-item-danger">
    <h2> Friend List

</h2>
  </a>
  <% @friendlist.each do |friends|%>
  <a class="list-group-item list-group-item "> <%= friends.friend_id %> <%= friends.first_name%> <%= friends.last_name%>
  </a>
  <%end%>
</div>
</div>
