<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center my_footer">
                <p>1412278 - Phan Khánh Lâm và 1412414 - Vương Thiên Phú</p>
            </div>
        </div>
    </div>
</footer>